body {
    background-color: white;
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
}

header {
    background-color: #3061a8;
    color: white;
    padding: 36px 16px 20px;
    font-family: Verdana, sans-serif;
    font-size: 150%;
    font-weight: bold;
}

main {
    padding: 16px;
    color: #444;
}

dt {
    margin-top: 1em;
    color: #3061a8;
    font-size: 125%;
    font-family: Verdana, sans-serif;
}

dd {
    margin-left: 2em;
}

dd>p:first-child {
  margin-top: 0.2em;
}

a {
    color: #3061a8;
    text-decoration: none;
}

a:link {
    border-bottom: dashed 1px #ccc;
}

a:hover {
    border-bottom: solid 1px #3061a8;
    background-color: #fff;
}

a:active {
    background-color: #eee;
}

a:visited {
    color: #6161a8;
}